@media (min-aspect-ratio: 16/9){
    #bgvideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #bgvideo{
        width: auto;
        height: 100%;
    }
}



@media screen and (max-width: 1150px){
    body{
        overflow-x: hidden;
        /* background: url(./Assets/Screenshot\ \(31\).png);
        background-size: cover; */
        /* background-color: black; */
        
    }

    .header{
        position: fixed;
        z-index: 2;
    }
    .left{
        position: relative;
        right: 0px;
        
    }
    .versionbeta_logo img{
        height: 150px;
        width: 320px;
    }
    .version-beta{
        font-size: 18px;
        position: relative;
        right: 110px;
    }

    .link_wrapper{
        position: relative;
        right: 125px;
        bottom: 50px;
    }
    .button-register{
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .clock_desc{
        position: absolute;
        top: 300px;
        right: 200px;
    }
    #clock{
        font-size: 30px;
    }
    .timeleft{
        position: absolute;
        bottom: 160px;
        right: 130px;
        font-size: 14px;
    }

    #about, #schedule_heading, #prizes_heading, #gallery_heading, #sponsor_heading, #gallery_heading, #title_faq{
        font-size: 35px;
    }
    .team_photo img{
        height: 420px;
        width: 430px;
    }
    .about_info{
        font-size: 17px;
        width: 350px;
    }

    #schedule_heading{
        font-size: 35px;
    }
    .schedule_tabs{
        width: 550px;
    }
    .one i, .three i, .five i{
        position: absolute;
        top: 70px;
        left: 720px;
    }
    .two i, .four i{
        position: relative;
        right: 150px;
    }

    .second, .third{
        height: 280px;
        width: 150px;
    }
    .sec-prize{
        height: 80px;
    }
    
}