@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900|Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900|Barlow:100,200,300,400,500,600,700,800,900&display=swap'); */

@media screen and (max-width: 512px) {
	.wrapper {
		min-height: 500px;
	}
}

.pageLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	margin-top: 100px;
}
@media screen and (max-width: 799px) {
	.pageLogo {
		margin-top: 60px;
	}
}
@media screen and (max-width: 512px) {
	.pageLogo {
		margin-top: 40px;
	}
	.pageLogo img {
		width: 200px;
	}
}

.timer {
	z-index: 0;
	color: white;
	transform: translateY(-40px);
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (max-width: 512px) {
	.timer {
		transform: translateY(-10px);
	}
}
.timer__content {
	display: flex;
	color: white;
	display: flex;
	/* justify-self: unset;
	 */
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 95%;
	margin-top: 1rem;
}

@media(max-width: 800px){
	.timer__content{
		margin-top: 0rem;
	}
}
.timer__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 8px;
	animation: item 0.6s ease backwards;
	position: relative;
	transition: all 1s 0.2s ease;
}
/* .timer__item:hover {
	transition: all 0.3s ease;
	transform: translateY(-20px);
} */
@media screen and (max-width: 799px) {
	.timer__item:hover {
		transform: translateY(0px);
	}
}
.timer__item:nth-child(1) {
	/* animation-delay: 0.2s; */
	animation-delay: 2s;
}
.timer__item:nth-child(2) {
	/* animation-delay: 0.4s; */
	animation-delay: 2.2s;
}
.timer__item:nth-child(3) {
	/* animation-delay: 0.6s; */
	animation-delay: 2.4s;
}
.timer__item:nth-child(4) {
	/* animation-delay: 0.8s; */
	animation-delay: 2.6s;
}
@keyframes item {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
}
/* .timer__item:before {
	width: calc(100% - 20px);
	height: 90px;
	content: '';
	position: absolute;
	bottom: 0;
	backdrop-filter: blur(5px);
	z-index: -1;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
} */
@media screen and (max-width: 799px) {
	.timer__item:before {
		height: 80px;
	}
}
@media screen and (max-width: 512px) {
	.timer__item:before {
		width: calc(100% - 10px);
		height: 60px;
		border-radius: 5px;
	}
}
.timer__name {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.1em;
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 799px) {
	.timer__name {
		font-size: 14px;
	}
}
.timer__number {
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px;
	animation: number 0.4s 1.4s ease backwards;
}
@media screen and (max-width: 799px) {
	.timer__number {
		width: 80px;
		height: 80px;
		font-size: 40px;
	}
}
@media screen and (max-width: 512px) {
	.timer__number {
		width: 60px;
		height: 60px;
		font-size: 28px;
	}
}
@keyframes number {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
}
.timer__text {
	color: white;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 10px;
}
@media screen and (max-width: 799px) {
	.timer__text {
		font-size: 16px;
	}
}
@media screen and (max-width: 512px) {
	.timer__text {
		margin-top: 20px;
	}
}
#sponsor-logo {
	/* border: 2px solid red; */
	width: 18%;
	margin: 2rem;
}
#sponsor-logo img {
	width: 100%;
}

.hideThis{
	display: none;
}

/* .footer {
	height: 60px;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	z-index: 1;
	backdrop-filter: blur(5px);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Barlow', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}
.footer__social {
	display: flex;
	align-items: center;
}
.footer__social img {
	width: 24px;
	height: 24px;
	opacity: 0.8;
	margin-left: 30px;
	transition: all 0.2s ease;
	cursor: pointer;
}
.footer__social img:first-child {
	margin-left: 0px;
}
.footer__social img:hover {
	opacity: 1;
}
@media screen and (max-width: 799px) {
	.footer {
		flex-direction: column;
		height: 100px;
		padding: 20px 40px;
	} */
/* }